.new {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 70px 50px;
    width: 80%;
    height: 30%;
    background: rgba(255, 255, 255, 0.747);
    color: blueviolet;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.144);
    border-radius: 8px;
    display: block;
    text-decoration: none;
    font-size: 20px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }